.event-date {
    font-weight: bold;
}

.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: bold;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
clear: both;
}

.clear {
    clear: both;
}

.input-group[class*="col-"] {
    padding: 0 15px;
}

.content-wrapper {
    main-height: 820px !important;
}

.main-footer {
    margin-top: 50px;
}

.todo-list > li .tools #done {
    color: green;
}

.timetable {
    display: inline-flex;
}

.box .timetable:nth-child(3), .box .timetable:nth-child(2) {
    width: 49%;
}

.box .timetable {
    width: 32.333%;
}

.timetable .tools {
    float:  right;
}

.timetable-edit .timetable-input {
    border: none;
}

.fa-remove {
    color: #ff0000;
}

.inverted {
    border-radius: 0 !important;
}

.todo-list .done a.header {
    text-decoration: line-through;
}

i#done {
    color: green;
}

i#done, .fa-remove:hover {
    cursor: pointer;
}

.fa-plus {
    color: #006400;
}

.fa-plus:hover {
    cursor: pointer;
}

.page-content section {
    margin: 15px !important;
}


/**/

.ui.inverted.menu {
    background-color: #37424d;
}

.tools {
    float: right;
}

/* Polling system */

.wrong{
    background: rgba(255, 0, 0, 0.78) none repeat scroll 0% 0%;;
}

.success{
    background: rgba(0, 128, 0, 0.73) none repeat scroll 0% 0%;
}

.ui.radio.checkbox {
    padding: 5px;
}

.poll-btn {
    padding: 25px !important;
    margin: 100px auto !important;
    font-size: 24px !important;
    font-weight: bold !important;
    display: block !important;
}

.poll-block {
    display: none;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.margin-bottom {
    margin-bottom: 25px;
}

.margin {
    margin: 10px 0;
}

.padding-top {
    padding-top: 25px;
}

.text-right {
    text-align: right;
}

.ui.message {
    font-weight: bold;
}

.full-width-btn {
    width: 100%;
    display: block;
    margin-top: 5px;
}

.full-width {
    width: 100% !important;
}

#mark-chart {
    height: 500px !important;
}

.no-border-radius {
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;
}